.nav {
    


    &__list {
        display: flex;
        gap: 0 64px;
        margin-left: -40px;
        opacity: 0.8;
        @include laptop {
            display: none;
        }

    }

    &__link {

        color: var(--header-text-color);
        font-weight: 500;
        font-size: 18px;
        line-height: normal;

        

        &-output {
            display: flex;
            align-items: center;
            
            gap: 8px; 
            
            



            &::after {
                content: url(/img/header/arrow-flip.svg);
                height: 18px;

                &:hover {
                    display: none;
                }

            
            }
        }

       
    }

}

// .nav-icon-flip {
//     padding-left: 12px;
//     @include laptop {
//         display: none;
//     }


//     &:hover  {
//         opacity: 0;
//     }
// }

.drop-down {
    position: absolute;
    min-width: 100px;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: .3s linear;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;

    @include laptop {
        display: none;
    }


    &__link {
        display: block;
        color: #fff;
        padding-bottom: 7px;
        &:hover {
            opacity: 0.7;
        }
    }

}

.drop-down .drop-down__item {
    position: relative;
}

.nav__list .nav__item:hover > .drop-down {

    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);

}